
Calculator/.vs/Calculator/FileContentIndex/0e41153c-9d35-4e68-a0cb-3c5f021c3c30.vsidx
Calculator/.vs/Calculator/FileContentIndex/1f43ff74-911a-440c-9fdb-46a0981f4cbf.vsidx
Calculator/.vs/Calculator/FileContentIndex/56de7ab2-58a9-4c42-b4d9-a84d18568f3f.vsidx
Calculator/.vs/Calculator/FileContentIndex/5915a9ad-c724-4fcf-a5aa-279e73168231.vsidx
Calculator/.vs/Calculator/FileContentIndex/f36c8c77-6766-41fa-aa87-5ed1730c96c2.vsidx
Calculator/.vs/Calculator/v17/.suo
Calculator/.vs/Calculator/v17/Browse.VC.db
Calculator/.vs/Calculator/v17/ipch/9d19dec214d90686.ipch
Calculator/.vs/Calculator/v17/ipch/AutoPCH/21ba7a97e172f30e/MAIN.ipch
Calculator/.vs/Calculator/v17/ipch/AutoPCH/7166a1cf5f233793/CALCULATOR.ipch
Calculator/.vs/Calculator/v17/ipch/AutoPCH/82d7e85b9e0c52fd/SIMPLECALCULATOR.ipch
Calculator/.vs/Calculator/v17/ipch/AutoPCH/88c2c9bd49785733/CALCULATOR.ipch
Calculator/.vs/Calculator/v17/ipch/AutoPCH/d20e810eb47ec587/NEW_SCALAR.ipch
Calculator/.vs/Calculator/v17/ipch/AutoPCH/e69df678509f6f35/TEST.ipch
Calculator/.vs/Calculator/v17/Solution.VC.db
Calculator/Calculator.sln
Calculator/Calculator/Calculator.vcxproj
Calculator/Calculator/Calculator.vcxproj.filters
Calculator/Calculator/Calculator.vcxproj.user
Calculator/Calculator/x64/Debug/Calculator.exe.recipe
Calculator/Calculator/x64/Debug/Calculator.ilk
Calculator/Calculator/x64/Debug/Calculator.log
Calculator/Calculator/x64/Debug/Calculator.obj
Calculator/Calculator/x64/Debug/Calculator.tlog/Calculator.lastbuildstate
Calculator/Calculator/x64/Debug/Calculator.tlog/CL.command.1.tlog
Calculator/Calculator/x64/Debug/Calculator.tlog/Cl.items.tlog
Calculator/Calculator/x64/Debug/Calculator.tlog/CL.read.1.tlog
Calculator/Calculator/x64/Debug/Calculator.tlog/CL.write.1.tlog
Calculator/Calculator/x64/Debug/Calculator.tlog/link.command.1.tlog
Calculator/Calculator/x64/Debug/Calculator.tlog/link.read.1.tlog
Calculator/Calculator/x64/Debug/Calculator.tlog/link.write.1.tlog
Calculator/Calculator/x64/Debug/main.obj
Calculator/Calculator/x64/Debug/SimpleCalculator.obj
Calculator/Calculator/x64/Debug/vc143.idb
Calculator/Calculator/x64/Debug/vc143.pdb
Calculator/Calculator_Tests/Calculator_Tests.vcxproj
Calculator/Calculator_Tests/Calculator_Tests.vcxproj.user
Calculator/Calculator_Tests/packages.config
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.exe.recipe
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.log
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.pch
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/Calculator_Tests.lastbuildstate
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/CL.command.1.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/Cl.items.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/CL.read.1.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/CL.write.1.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/CopyLocal.read.1u.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/CopyLocal.write.1u.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/link.command.1.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/link.read.1.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/link.write.1.tlog
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.tlog/unsuccessfulbuild
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.vcxproj.CopyComplete
Calculator/Calculator_Tests/x64/Debug/Calculator_Tests.vcxproj.FileListAbsolute.txt
Calculator/Calculator_Tests/x64/Debug/pch.obj
Calculator/Calculator_Tests/x64/Debug/vc143.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/.signature.p7s
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1028/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1029/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1031/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1033/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1034/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1036/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1040/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1041/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1042/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1045/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1046/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1049/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/1055/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/2052/googletest.propertiesui.xml
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-death-test.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-message.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-param-test.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-param-test.h.pump
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-printers.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-spi.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-test-part.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest-typed-test.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest_pred_impl.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/gtest_prod.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/gtest-port.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/gtest-printers.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/gtest.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/custom/README.md
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-death-test-internal.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-filepath.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-internal.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-linked_ptr.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-param-util-generated.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-param-util.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-port-arch.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-port.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-string.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-tuple.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-tuple.h.pump
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-type-util.h
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/include/gtest/internal/gtest-type-util.h.pump
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Debug/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Debug/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Debug/gtest_maind.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Debug/gtestd.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Release/gtest.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Release/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Release/gtest_main.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm/Release/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/gtest_maind.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Debug/gtestd.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/gtest.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/gtest_main.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/arm64/Release/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtest_maind.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Debug/gtestd.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/Release/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtest_maind.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Debug/gtestd.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.lib
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x86/Release/gtest_main.pdb
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/license (MIT).txt
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7.nupkg
Calculator/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/ThirdPartyNotices.txt
Calculator/x64/Debug/Calculator.exe
Calculator/x64/Debug/Calculator.pdb
Calculator/x64/Debug/Calculator_Tests.exe
Calculator/x64/Debug/Calculator_Tests.ilk
Calculator/x64/Debug/Calculator_Tests.pdb
Calculator/x64/Debug/gtest.pdb
Calculator/x64/Debug/gtest_main.pdb
Calculator/.vs/Calculator/FileContentIndex/2aef4256-df04-46a0-8ae9-dd31e57d5fd4.vsidx
Calculator/.vs/Calculator/FileContentIndex/dbb1c273-ca12-468a-8ec1-0d64c2a8cfee.vsidx
Calculator/.vs/Calculator/FileContentIndex/edb8e43c-a75b-4129-b232-d1f9ceeb5b1f.vsidx
Calculator/.vs/Calculator/FileContentIndex/f3d702a8-9cf1-4de7-b657-05947d12a938.vsidx
Calculator/Calculator/Calculator_en_US.ts
